<div class="App">
<div class="block">
  <ul class="currencies">
    <li>
      <label class="select" for="slct">
        <select [(ngModel)]="inCurr">
          <option *ngFor="let curr of currencies">{{ curr }}</option>
        </select>
        <svg>
          <use xlink:href="#select-arrow-down"></use>
        </svg>
      </label>
    </li>
  </ul>
  <input id="inputCurr" type="number" min="0" [(ngModel)]="inputValue" placeholder="0" />
</div>
<div class="block">
  <ul class="currencies">
    <li>
      <label class="select" for="slct">
        <select [(ngModel)]="outCurr">
          <option *ngFor="let curr of currencies">{{ curr }}</option>
        </select>
        <svg>
          <use xlink:href="#select-arrow-down"></use>
        </svg>
      </label>
    </li>
  </ul>
  <input id="outCurr" type="number" min="0" [ngModel]="output()" />
</div>
</div>

<svg class="sprites">
<symbol id="select-arrow-down" viewbox="0 0 10 6">
  <polyline points="1 1 5 5 9 1"></polyline>
</symbol>
</svg>
